.dropdown {
  color: white;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 268px;
  background-color: rgb(44, 109, 124);
  height: 34px;
  width: 240px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 268px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.dropdownlist {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  align-content: space-around;
  margin-left: 20%;
  margin-top: 1rem;
}

.boite {
  display: flex;
  flex-direction: row !important;
  align-items: baseline;
  align-content: center;
}
